#folder
target/
.vagrant/

#fixed file
.class
.exe
.log
.prefs
.classpath
.metadata
.settings
.DS_Store
Thumbs.db
.project
*.iml
*.ipr
*.iws
*.tar.gz
*.bak
.idea
*.log
*.swp
*.swo

#deploy data

data/*
!data/.gitkeep

elloappd/bin/*
!elloappd/bin/config.json
!elloappd/bin/killall.sh
!elloappd/bin/runall2.sh
!elloappd/bin/runall-docker.sh
!elloappd/bin/server_pkcs1.key

elloappd/logs/*
!elloappd/logs/.gitkeep

/app/messenger/biz_server
/app/bff/account/cmd/account/account
/app/bff/authorization/cmd/authorization/authorization
/app/bff/drafts/cmd/drafts/drafts
/app/bff/bff/cmd/bff/bff
/app/interface/session/cmd/session/session
/app/interface/gateway/cmd/gateway/gateway
/app/service/biz/username/cmd/username/username
/app/service/media/internal/dao/examples/examples

_temp
